<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
<body ng-app="">

<p>With AngularJS, form validation is a breeze. Just put the 'required' attribute on input field that is mandatory.</p>

<form name="myForm">
Enter first name (required): <input name="firstName" ng-model="firstName" required> <br>
Enter last name (required): <input name="lastName" ng-model="lastName" required>
</form>


<p>List of required fields that has not been filled are :</p>


<ul>
  <li ng-repeat="requiredInput in myForm.$error.required">
    {{ requiredInput.$name}}
  </li>
</ul>

<p>{{myForm.$valid}}</p>

</body>
</html>
