<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
	<p>This page demonstrates a simple usage of a controller. The controller creates 2 variables, in this $scope object. The ng-model binds these variables into the text field. </p>
	<div ng-app="myApp" ng-controller="namesCtrl">

	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br>
	Full Name: {{fullName()}}

	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		    $scope.firstName= "John";
		    $scope.lastName= "Doe";
		    $scope.fullName = function() {
		    	return $scope.firstName + " " + $scope.lastName;
		    }
		});
	</script>

	

</div>
</body>
</html>